@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@keyframes fade-in-bottom {

    0% {

      transform: translateY(50px);
      opacity: 0;

    }

    100% {

      transform: translateY(0);
      opacity: 1;

    }
    
}

@keyframes fade-in {

    0% {

      opacity: 0;

    }

    100% {

      opacity: 1;

    }
    
}

input[type="text"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0;
    border: none; 
    border-width: 0; 
    box-shadow: none;
    outline: none;
    
}
input[type="text"] {
    
    -moz-appearance: textfield;
    border: none; 
    border-width: 0px; 
    box-shadow: none;
    outline: none;
    
}

input[type="password"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0;
    border: none; 
    border-width: 0; 
    box-shadow: none;
    outline: none;
    
}
input[type="password"] {
    
    -moz-appearance: textfield;
    border: none; 
    border-width: 0px; 
    box-shadow: none;
    outline: none;
    
}

body  {

    margin: 0px;

    height: 80vh;
    width: 100%;

    background-color: #222831;

}

.login {

    width: 100%;
    height: 100%;

    margin: 0px;
    display: none;

}


.loginIllustrate {

    width: 60%;
    height: 30%;

    top: 9%;
    left: 20%;

    position: absolute;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

.loginSwipeBar {

    width: 40%;
    height: 1%;

    top: 5%;
    left: 30%;

    position: absolute;

    background-color: #222831;
    opacity: 50%;

    border-radius: 5px;

}

.loginModal {

    margin: 0px;

    width: 100%;
    height: 50%;

    top: 50%;

    position: absolute;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #EEEEEE;

    animation: fade-in-bottom 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    transition: top 0.3s;
    
}

.loginModalTitle {

    left: 8%;
    top: 15%;

    position: absolute;

    color: #31363F;

    font-family: Inter;
    font-size: 25px;
    font-weight: 700;

}

.loginModalTitleBold {

    left: 7.5%;
    top: 22%;

    position: absolute;

    color: #76ABAE;

    font-family: Inter;
    font-size: 38px;
    font-weight: 700;

}

.loginModalDescription {

    width: 60%;

    left: 8%;
    top: 35%;

    position: absolute;

    color: #31363F;
    opacity: 70%;

    font-family: Inter;
    font-size: 15px;
    font-weight: 400;

}

.signTitle {

    width: 62%;

    left: 29%;
    top: 62%;

    position: absolute;

    color: #31363F;
    opacity: 70%;

    font-family: Inter;
    font-size: 15px;
    font-weight: 700;

}

.signupButton {

    width: 42%;
    height: 15%;

    top: 70%;
    left: 9%;

    position: absolute;

    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    border-style: solid;
    border-color: #222831;
    
    transition: background-color 0.2s;

}

.signinButton {

    width: 41%;
    height: 15%;

    top: 70%;
    left: 50%;

    position: absolute;

    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    border-style: solid;
    border-color: #222831; 

    transition: background-color 0.2s;

}

.signupButtonTitle {

    left: 20%;
    top: 30%;

    position: absolute;

    font-family: Inter;
    font-size: 18px;
    font-weight: 700;


}

.signinButtonTitle {

    left: 30%;
    top: 30%;

    position: absolute;

    font-family: Inter;
    font-size: 18px;
    font-weight: 700;


}

.signup {

    margin: 0px;
    display: none;

}

.signupIllustrate {

    width: 40%;
    height: 20%;

    top: 5%;
    left: 30%;

    position: absolute;

}

.signupTitle {

    left: 15%;
    top: 22%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 26px;
    font-weight: 700;


}

.signupDescription {

    width: 80%;

    left: 9.7%;
    top: 28%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;

    opacity: 50%;

    text-align: center;

}

.signupUsernameTitle {

    top: 45%;
    left: 10.2%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;

    opacity: 50%;    

}


.signupUsernameInput {

    width: 80%;

    top: 49%;
    left: 10%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 17px;
    font-weight: 700;

    background: none;

}

.signupUsernameBorder {

    width: 80%;

    top: 53%;
    left: 10%;

    position: absolute;

    border-bottom-style: solid;
    border-bottom-width: 2px;

    border-color: #222831;

    opacity: 30%;

}

.signupPasswordTitle {

    top: 58%;
    left: 10.2%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;

    opacity: 50%;    

}


.signupPasswordInput {

    width: 80%;

    top: 62%;
    left: 10%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 17px;
    font-weight: 700;

    background: none;

}

.signupPasswordBorder {

    width: 80%;

    top: 66%;
    left: 10%;

    position: absolute;

    border-bottom-style: solid;
    border-bottom-width: 2px;

    border-color: #222831;

    opacity: 30%;

}

.signupButtonInput {

    width: 60%;
    height: 8%;

    top: 80%;
    left: 20%;
    position: absolute;

    background-color: #222831;
    border-radius: 30px;

}

.signupButtonInputTitle {

    top: 27%;
    left: 27%;
    position: absolute;

    color: #EEEEEE;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}

.signupBackTitle {

   top: 92%;
   left: 20%;
   position: absolute;

   color: #222831;

   font-family: Inter;
   font-size: 16px;
   font-weight: 700;

   opacity: 50%;

}

.signupBackTitleAlert {

    top: 92%;
    left: 66%;
    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;

}

.signin {

    display: none;

}

.signinIllustrate {

    width: 40%;
    height: 20%;

    top: 5%;
    left: 30%;

    position: absolute;

}

.signinTitle {

    left: 10%;
    top: 22%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 26px;
    font-weight: 700;


}

.signinDescription {

    width: 80%;

    left: 9.7%;
    top: 28%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 14px;
    font-weight: 500;

    opacity: 50%;

    text-align: center;

}

.signinUsernameTitle {

    top: 45%;
    left: 10.2%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;

    opacity: 50%;    

}


.signinUsernameInput {

    width: 80%;

    top: 49%;
    left: 10%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 17px;
    font-weight: 700;

    background: none;

}

.signinUsernameBorder {

    width: 80%;

    top: 53%;
    left: 10%;

    position: absolute;

    border-bottom-style: solid;
    border-bottom-width: 2px;

    border-color: #222831;

    opacity: 30%;

}

.signinPasswordTitle {

    top: 58%;
    left: 10.2%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;

    opacity: 50%;    

}


.signinPasswordInput {

    width: 80%;

    top: 62%;
    left: 10%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 17px;
    font-weight: 700;

    background: none;

}

.signinPasswordBorder {

    width: 80%;

    top: 66%;
    left: 10%;

    position: absolute;

    border-bottom-style: solid;
    border-bottom-width: 2px;

    border-color: #222831;

    opacity: 30%;

}

.signinPasswordRecovery {

    width: 40%;

    top: 67%;
    left: 57%;

    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 14px;
    font-weight: 700;

    text-decoration: underline;

}

.signinButtonInput {

    width: 60%;
    height: 8%;

    top: 80%;
    left: 20%;
    position: absolute;

    background-color: #222831;
    border-radius: 30px;

}

.signinButtonInputTitle {

    top: 28%;
    left: 20%;
    position: absolute;

    color: #EEEEEE;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}

.signinBackTitle {

   top: 92%;
   left: 14%;
   position: absolute;

   color: #222831;

   font-family: Inter;
   font-size: 16px;
   font-weight: 700;

   opacity: 50%;

}

.signinBackTitleAlert {

    top: 92%;
    left: 63.5%;
    position: absolute;

    color: #222831;

    font-family: Inter;
    font-size: 16px;
    font-weight: 700;

}